body {
    background-image: url(../images/dogbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#breed-btns {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

* {
    cursor: url(../images/dalmation.cur), auto!important;
  }

#gif-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dogpics {
    border: 5px solid black;
}