body {
    background-image: url(../images/dogbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    cursor: url(../images/dalmation.cur), auto!important;
  }

.dogpics {
    border: 1px solid black;
    margin: 5px;
}